@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#pagecontent, #container, #surveytitle, #surveyinstructions, #surveyinstructions p, #surveyinstructions span, #surveyinstructions div, #surveyacknowledgment, #surveyacknowledgment p, #surveyacknowledgment span, #surveyacknowledgment div {
  border-width: 0 !important;
}

#return_instructions {
  margin-top: 25vh !important;
  text-align: center !important;
}

#return_instructions h4 {
  color: #495057 !important;
}

.jqbutton, .ui-button, .ui-corner-all, .ui-widgetbutton {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: white !important;
  border-radius: 9px !important;
  color: #0451A1 !important;
  border-color: #0451A1 !important;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  transition: 0.3s;
}

.jqbutton:hover, .ui-button:hover, .ui-corner-all:hover, .ui-widgetbutton:hover {
  background-color: #20b9c1 !important;
  color: white !important;
}

#footer a {
  display: none !important;
}

#redirect_to_instruments {
    background-color: #FFF !important;
    color: #0451A1 !important;
    border-color: #0451A1 !important;
}

.jqbutton:hover, .ui-button:hover, .ui-corner-all:hover, .ui-widgetbutton:hover, #redirect_to_instruments:hover{
   background-color: #0451A1 !important;
   color: white !important;

}

button:focus, button:hover, a:focus, a:hover {
    outline: none;
}
